/*-----------common style here-------------*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.common-width {
    width: 90%;
    margin: 30px auto;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    margin-top: 50px;
}

/*-----------header area style here-------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-right: 44px;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}
.logo-title{
   display: flex;
}
.logo-title h4 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.common-title {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.header-img-area {
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header-opacity {
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
    height: 500px;
}

.header-title {
    text-align: center;
}

.header-title h1 {
    color: #FFF;
    font-size: 4.5rem;
    font-weight: 800;
    padding-top: 50px;

}

.header-title p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 676px;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 50px;
}

.header-buttom-area {
   
}

.input-form {
    margin: auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    height: 70px;
    width:750px;
    display: flex;
    margin-top: 20px;
}

#inputype{
    padding: 20px;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}

#my-option {
    margin-right: 5px;
    margin-left: 5px;
    width: 174px;
    height: 52px;
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-top: 10px;
}

.btn-header-primary {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
}




/*-------popular-tour-------*/

.popular-tour {
    margin-top: 80px;
    display: flex;
    margin-bottom: 50px;
}

.popular-tour-content {
    margin-right: 80px;
}

.popular-tour-content h1 {
    color: #131318;
    font-size: 2.8rem;
    font-weight: 800;
}

.tour-pera {
    padding: 24px 0;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 577px;
}

.tour-paraghrap ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-left: 15px;
    max-width: 577px;
}

.popular-tour-img img {
    width: 100%;
}
 





/*-------Destination-tour-------*/


 #Destination {
    margin-top: 80px;
 
}

.common-discription {
    text-align: center;
}

.discription-title {
    color: #131318;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
    padding-bottom: 24px;
}

.common-pera {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 643px;
    margin: auto;
    padding-bottom: 48px;
}

.destination-title {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 140px;
    margin-left: 240px;
    display: inline-block;
}

/*-------img-Destination style-------*/

.img-destination{
    display: flex;
    gap:60px;
}

.img-destination-left {
    background-image: url('Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:100%;
    height: 300px;
}


.img-destination-right {
    background-image: url('Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:100%;
    height: 300px;
} 








/*-------img-Destination mid part style-------*/

.img-destination-mid {
    display: flex;
    margin-top: 24px;
}

.img-left {
    background-image: url('Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    width: 100%;
    height: 286px;
}

.img-mid {
    background-image: url('Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    width:100%;
    height: 286px;
    margin-left: 45px;
}

.img-right {
    background-image: url('Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    width:100%;
    height: 286px;
    margin-left: 45px;
}

.destination-title-mid {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 50px;
  
}

.destination-title-mid-edit {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 140px;
   
}
.destination-title-mid-edit-2{
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 50px;
}

/*-------img-Destination end part style-------*/
.img-destination-end {
    display: flex;
    margin-top: 24px;
    gap: 57px;
}


.img-end-left {
    background-image: url('Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    width:100%;
    height: 300px;
}

.img-end-right {
    background-image: url('Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    width:100%;
    height: 300px;
    margin-left: 5px;
}

.destination-title-end {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 130px;
    margin-left: 50px;
  
}
.destination-title-end-edit {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 130px;
    margin-left: 50px;
   
}  




/*-------why-choose part style-------*/



.why-choose {
    margin-top: 50px;
}

.choose-cart-items {
    display: flex;

}

.choose-cart {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 50px;
    margin-bottom: 20px;
}

.choose-cart-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(134, 190, 243, 0.05);
    margin-right: 50px;
    margin-bottom: 20px;
}

.choose-cart-3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 50px;
    margin-bottom: 20px;
}
.Guarantee-cart {
    margin: auto;
    display: inline-block;
    margin-left: 280px;
}

.choose-title {
    padding-left: 32px;
    margin-top: 32px;
}

.choose-title h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0px;
}
  

/*-------Simple-Perfect part style-------*/


.Simple-Perfect {
    margin-top: 100px;
    display: flex;
}

.Simple-Perfect .popular-tour-content h1 {
    width: 448px;

}

.Simple-Perfect .popular-tour-content li {
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    width: 518px;
    color: #131318;
    margin-left: 30px;
}

.Simple-Perfect-img {
    background-image: url('Images/Group\ 40089.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 424px;
}

.Simple-Perfect-title{
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 200px;
    margin-left: 50px;
}
/*-------Simple-Perfect part style-------*/


 .news-letter {
    margin-top: 50px;
}

.Simple-Perfect-title {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 140px;
    margin-left: 140px;
    display: inline-block;
} 


/*-------news-letter section style-------*/

.news-letter{
    display: flex;
}


.news-letter-card {
    width: 474px;
    height: 422px;
    border-radius: 16px;
}

.news-letter-area {
    padding-top: 25px;
    padding-left: 40px;
}

.news-letter-area h3 {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
    padding-bottom: 10px;
}

.news-letter-area p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px ;
   
}
.news-letter-area hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.news-letter-area form input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    margin-top:20px;
    border:0;
   
}
.news-letter-btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    border: 0;
    margin-top: 70px;
}

.news-letter-right{
    background:url('Images/Rectangle 8 (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 422px;
    margin-left: 80px;
}

.news-letter-box{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    color:white;
    padding-top: 20px;
    position: relative;
    top:237px;
    left:321px;
}

.news-letter-box h4{
    font-size: 1.8rem;
    font-weight: 400;
}

.news-letter-box h2{
    font-size: 2rem;
    font-weight: 800;
}




/*-------fotter-area section style-------*/


.fotter-area{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 50px;
}
.fotter-are-title{
    text-align: center;
    margin: auto;
}


.fotter-title{
   display: flex;
   justify-content: center;
   padding-top: 110px;
}

.fotter-title h4{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}



.fotter-are-title p{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    width:770px;
    margin: 10px auto;
}

.fotter-are-title .icon{
    margin-top: 40px;
    margin-bottom: 40px;
}

.copyright h5{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
    padding-bottom: 110px;
}

 





/*-------Media query for small device-------*/



@media screen and (max-width:576px) {
    
    nav {
        flex-direction: column;

    }
    
    nav ul {
       display: none;
       
    }

    .input-form {
        height:100%;
        width:90%;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .header-title h1 {
        color:white;
        font-size: 2rem;
    }

    .header-title p {
        width:100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
 #inputype{
        width:90%;
        height:53px;
        border-radius: 8px;
        padding-left: 10px;
        border:0px;
        margin-left: 15px;
        margin-top: 10px;
       
    }
    
    #my-option {
        width:90%;
        text-align: left;
        margin-left: 15px;
        margin-top: 10px;
    }
    
    .btn-header-primary {
        width:90%;
        margin: 15px auto;
        margin-left: 15px;
        margin-top: 20px;
    }


/*-------Media query for popular are-------*/

  .popular-tour {
    flex-direction: column;
}
.popular-tour-content h1 {
    color: #131318;
    font-size: 1.8rem;
}

.tour-pera {
    padding: 24px 0;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width:100%;
}
.popular-tour-img img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}


/*-------Media query for Destination are-------*/


.img-destination{
    flex-direction: column;

    gap:0;
}
.discription-title {
    font-size: 1.5rem;
}

.img-destination-left{
    width:100%;
    height:300px;
    background-position:center;
    background-size:100% 100%;
   
}

.img-destination-right{
    width:100%;
    height:300px;
    background-position:center;
    background-size:100% 100%;
    margin-top: 20px;
}
.destination-title{
    margin-top:150px;
    margin-left:180px;
   
}
/*-------Media query for Destination mid-------*/

.img-destination-mid {
    flex-direction: column;
}

.img-left{
    width:100%;
    height: 286px;
    background-position:center;
    background-size:100% 100%;
    margin-top: 15px;
   
}


.img-mid{
    width:100%;
    height: 286px;
    background-position:center;
    background-size:100% 100%;
    margin-top: 20px;
    margin-left:0px;
    margin-bottom: 20px;
   
}

.img-right{
    width:100%;
    height: 286px;
    margin-left:0px;
    background-position:center;
    background-size:100% 100%;
  
}

.destination-title-mid {
    margin-top: 120px;
    margin-left:20px;
   
}

.destination-title-mid-edit {
    margin-top: 120px;
    margin-left:120px;
} 
/*-------Media query for Destination end-------*/

.img-destination-end {
    flex-direction: column;
   
   
}

 .img-end-left{
    width:100%;
    height: 300px;
    background-position:center;
    background-size:100% 100%;
   
}

.img-end-right{
    width:100%;
    height: 300px;
    background-position:center;
    background-size:100% 100%;
    margin-top: -30px;
}
.destination-title-end {
    margin-top:120px;
    margin-left:50px;
} 
.destination-title-end-edit {
    margin-top:120px;
    margin-left:50px;

}  

.choose-cart-items {
    flex-direction: column;
    
}
.choose-cart {
    width:100%;
}

.choose-cart-2{
    width:100%;
}

.choose-cart-3{
    width:100%;
}
.Guarantee-cart {
    margin: auto;
   
   
}

.Simple-Perfect {
    margin-top: 100px;
   flex-direction: column;
}


.Simple-Perfect .popular-tour-content h1 {
    width:100%;

}

.Simple-Perfect .popular-tour-content li {
    width:100%;
}
.Simple-Perfect-img{
    margin-bottom: 30px;
    margin-top: 30px;
}
.Simple-Perfect-title {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 180px;
    margin-left: 110px;
} 


.news-letter{
    flex-direction: column;
}

.news-letter-card {
    width:100%;
    border:2px solid tomato;
    margin-bottom: 25px;
}

.news-letter-right{
    width:100%;
    height: 422px;
    margin-left:0px;
}

.news-letter-box{
    width:60%;
    position: relative;
    top:237px;
    left:190px;
}

.fotter-are-title p{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    width:100%;
    margin: 10px auto;
}

}